
<style type="text/css">
    .modal-content {
        width: 406px;
        left: 22%;
    }
    .modal{
            background: rgba(0, 0, 0, 0.42)!important;
    }
</style>
<style>
    .scrollbar {
        float: left;
        height: 188px;
        background: #ffffff;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .force-overflow {
    }

    #style-5::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
    }

    #style-5::-webkit-scrollbar {
        width: 3px;
        background-color: #F5F5F5;
    }

    #style-5::-webkit-scrollbar-thumb {
        background-color: #0ae;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    }
</style>

<div class="page-breadcrumbs ng-scope">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            <a href="javascript:void(0)" ui-sref="items">Hàng hóa</a>
        </li>
        <li class="active">Danh sách hàng hóa</li>
    </ul>
</div>
<div class="page-header position-relative ng-scope">
    <div class="header-title">
        <h1>
            Các quy cách thuộc hàng hóa
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 85%;margin-left: 108px;">
        <div class="modal-content" style="width:  100%;left:  0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" sstyle="color: #2dc3e8;font-weight: bold !important;">{{itemOption.Name}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row" style="width:75%;margin:0 auto">
                            <img style="width:100%;height:255px; border-radius: 22px; " id="showimg" src="{{itemOption.Image1}}">

                        </div>
                        <hr />
                        <div class="row">
                            <div style="width:100%;margin:0 auto">
                                <div class="Badges-container" style="width: 60%;margin:0 auto;">
                                    <h6>Tôn kho của các chi nhánh</h6>
                                    <span class="label" style="width:100%;text-align:left;color:black" ng-repeat="b in branch">
                                        {{b.branchname}}
                                        <span class="badge badge-danger" style="float:right">
                                            {{b.quantity}}
                                        </span>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Mã hàng hóa : </label><label style="color:orangered"> {{itemOption.SKU}} </label>
                               <hr />
                                <label>Giá nhập : {{itemOption.PurchasePrice|currency:'':0}} đ</label>
                                <hr />
                                <label>Tỷ lệ chuyển đổi : {{itemOption.UnitConvertRate}}</label>
                                <hr />
                            </div>
                            <div class="col-md-6">
                                <label>Mã vạch :{{itemOption.Barcode}}</label>
                                <hr />
                                <label>Gá giá buôn : {{itemOption.WholesalePrice|currency:'':0}} đ</label>
                                <hr />
                                <label>Giá bán lẻ : {{itemOption.SalePrice|currency:'':0}} đ</label>
                                <hr />
                                <label>Khối lượng & Đơn vị tính : {{itemOption.Weigh}} --- {{itemOption.UnitName}}</label>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="widget-main ">
                                <div class="tabbable">
                                    <ul class="nav nav-tabs tabs-flat" id="myTab11">
                                        <li class="active">
                                            <a data-toggle="tab" data-target="#home11" aria-expanded="true">
                                                Lịch sử giao dịch
                                            </a>
                                        </li>
                                        <li class="">
                                            <a data-toggle="tab" data-target="#profile11" aria-expanded="false" style="display:none;display:{{displayCombo}}">
                                                Hàng hóa trong Combo
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tabs-flat">
                                        <div id="home11" class="tab-pane active">
                                            <div class="table-responsive scrollbar"id="style-5" >
                                                <table class="table table-hover force-overflow "   style="width:100%;margin-bottom: 5px;">
                                                    <thead class="bordered-darkorange bg-themeprimary">
                                                        <tr style="cursor:pointer;">
                                                            <th ng-click="orderByTag('VoucherNo')">
                                                                <span><i class={{clas1}}></i></span>    Mã đơn hàng
                                                            </th>
                                                            <th ng-click="orderByTag('ObjName')">
                                                                <span><i class={{clas2}}></i></span> Khách hàng
                                                            </th>
                                                            <th ng-click="orderByTag('VoucherDate')">
                                                                <span><i class={{clas3}}></i></span>Ngày tạo
                                                            </th>
                                                            <th>
                                                                Đóng gói
                                                            </th>
                                                            <th>
                                                                Xuất kho
                                                            </th>
                                                            <th>
                                                                Thanh toán
                                                            </th>
                                                            <th>
                                                                Trả hàng
                                                            </th>
                                                            <th ng-click="orderByTag('TotalAmountOC')">
                                                                <span><i class={{clas5}}></i></span>  Tổng tiền
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr  ng-repeat="saleOrder in listSaleInvoiceWhereItem">
                                                            <td>
                                                                <a style="color:black" ui-sref="saleOrder_Detail({id:saleOrder.VoucherID})">
                                                                    {{saleOrder.VoucherNo}}
                                                                </a>
                                                            </td>
                                                            <td>
                                                                {{saleOrder.ObjectName}}
                                                            </td>
                                                            <td>
                                                                {{saleOrder.VoucherDate| date:'dd/MM/yyyy'}}
                                                            </td>
                                                            <td style="color: #2dc3e8;font-size:15px;padding-left:30px;">
                                                                <i class="{{saleOrder.cl1}}"></i>
                                                            </td>
                                                            <td style="color: #2dc3e8;font-size:15px;padding-left:30px;">
                                                                <i class="{{saleOrder.cl2}}"></i>
                                                            </td>
                                                            <td style="color: #2dc3e8; font-size: 15px;padding-left:30px;">
                                                                <i class="{{saleOrder.cl3}}"></i>
                                                            </td>
                                                            <td style="color: #2dc3e8; font-size: 15px;padding-left:30px;">
                                                                <i class="{{saleOrder.cl4}}"></i>
                                                            </td>
                                                            <td>
                                                                {{saleOrder.TotalAmountOC|currency:'':0}} đ
                                                            </td>

                                                        </tr>
                                                    </tbody>

                                                </table>
                                               
                                                <div class="ac" style="/* height: 131px; */font-size: 17px;color: #a89e9e;text-align: center;display:{{content2}}">Không tồn tại lịch sử giao dịch!</div>
                                            </div>
                                        </div>

                                        <div id="profile11" class="tab-pane">
                                            <div class="table-responsive" style="display:none;display:{{displayCombo}}">
                                                <table class="table table-hover" style="width:100%;border:  none;">
                                                    <tbody>
                                                        <tr dir-paginate="item in listNew| filter:searchText|orderBy:columnName:reverse| itemsPerPage:10">

                                                            <td>
                                                                <img style="height:50px;width:50px;border-radius: 5px;border: 1px solid #ece7e7;" src="{{item.Image1}}" />
                                                            </td>
                                                            <td ui-sref="itemOption_edit({id:item.ID})">
                                                                <a>
                                                                    {{item.SKU}}
                                                                </a>
                                                            </td>
                                                            <td>

                                                                {{item.Name}}

                                                            </td>
                                                            <td style="text-align:center">
                                                                {{item.QuantityItem}}
                                                            </td>
                                                            <td style="text-align:center">
                                                                {{item.SalePrice}}
                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  href="" data-dismiss="modal" style="color:#2dc3e8" ng-click="close(itemOption.ID)">Sửa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="color:red"  ng-click="deleteItems(itemOption.ID,itemOption.ItemID)">Xóa</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="modal" style="color:black">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12" style="width:100%">
                    <div class="widget" style="border-top: 3px solid #2dc3e8;">
                        <div class="widget-body">
                            <div id="horizontal-form">
                                <div class="row">
                                    <div class="col-xs-12 col-md-6" style="width:100%">
                                        <div class="row" style="width: 100%; height :70px; margin-left: 0px; ">
                                            <div class="col-md-4" style="display:flex;margin-left: -15px;">
                                                <div style="width: 43%;">
                                                    <img style="height:70px;width:70px" src="{{items.Image}}" />

                                                </div>
                                                <div>
                                                    <label class="ng-binding" style="color:red;font-weight:bold;font-size:18px;">
                                                       {{items.Name}}

                                                    </label>
                                                    <br />
                                                    <label class="ng-binding" style="margin-top: 27px;">
                                                        Ngày tạo : {{items.CreateDate | date:'dd/MM/yyyy'}}

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="ng-binding">
                                                        Nhãn hiệu : {{items.Brand}}

                                                    </label>
                                                    <br />
                                                    <label class="ng-binding" style="margin-top: 27px;">
                                                        Loại hàng hóa : {{items.Category}}

                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div>
                                                    <label class="ng-binding">
                                                        Số quy cách : {{items.Quantity}}
                                                    </label>
                                                    <br />

                                                    <label class="ng-binding" style="margin-top: 27px;">
                                                        Người tạo : {{items.CreateBy}}

                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12" style="width:100%;margin-top:-15px">
                    <div class="widget">
                        <div class="widget-body">
                            <div id="horizontal-form" style="margin-top:13px ;background:white">
                                <div class="row">
                                    <div class="col-md-6 col-xs-6 col-sm-12">
                                        <span class="input-icon inverted">
                                            <input type="text" style="height:32px;padding-left:40px" class="form-control input-sm ng-pristine ng-valid ng-empty ng-touched ng-untouched" placeholder="Tìm kiếm quy cách hàng" ng-model="searchText">
                                            <i class="glyphicon glyphicon-search bg-blue"></i>
                                        </span>
                                    </div>

                                    <div class="col-md-6 col-xs-6 col-sm-12" style="float: right;">
                                        <a class="btn btn-default purple" style="float: right;color: #0d55a1 !important;margin-left:10px;" href="javascript:void(0)" onclick="goBack()"><i class="fa fa-reply-all"></i>Trở về</a>
                                        <a class="btn btn-default purple" ui-sref="itemOption_add({id:items.ItemID})" style="float: right;color: #0d55a1 !important;"><i class="fa fa-plus"></i> Thêm quy cách</a>
                                        <a class="btn btn-default purple" ui-sref="combo_Add({id:items.ItemID})" style="float: right;color: #0d55a1 !important;margin-right:10px;" href="javascript:void(0)"><i class="fa fa-plus"></i>Tạo combo</a>
                                        
                                    </div>

                                </div>
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-hover" style="width:100%">
                                        <thead class="bordered-darkorange bg-themeprimary ">
                                            <tr>
                                                <th>
                                                    Ảnh
                                                </th>
                                                <th>
                                                    Mã
                                                </th>
                                                <th style="text-align:center">
                                                    Tên quy cách
                                                </th>
                                                <th style="text-align:center">
                                                    Giá nhập
                                                </th>
                                                <th style="text-align:center">
                                                    Giá buôn
                                                </th>
                                                <th style="text-align:center;">
                                                    Giá bán lẻ
                                                </th>
                                                <th style="text-align:center;">
                                                    Có thể bán
                                                </th>
                                                <th style="text-align:center;">
                                                    Tồn kho
                                                </th>

                                                <th style="text-align:center;">
                                                    Tùy chọn
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemop in listItemOption|filter:searchText">
                                                <td>
                                                    <img class="anhs" style="margin:auto;height:50px;width:50px;border-radius: 5px;border: 1px solid #e4e0e0;" src="{{itemop.Image1}}" />
                                                </td>
                                                <td>
                                                    <a style="color:#0ae;cursor: pointer;" data-toggle="modal" data-target="#myModal" ng-click="GetById(itemop.ID)">
                                                        {{itemop.SKU}}
                                                    </a>

                                                </td>
                                                <td style="text-align:center">
                                                    {{itemop.Name}}          
                                                </td>
                                                <td style="text-align:center">
                                                    {{itemop.PurchasePrice|currency:'':0}}
                                                </td>
                                                <td style="text-align:center">
                                                    {{itemop.WholesalePrice|currency:'':0}}
                                                </td>
                                                <td style="text-align:center">
                                                    {{itemop.SalePrice|currency:'':0}}
                                                </td>
                                                <td style="text-align:center">
                                                    {{itemop.numberByBranch|currency:'':0}}
                                                   
                                                </td>
                                                <td style="text-align:center">
                                                    <script>

                                                        // var con = '<li ng-repeat="item in itemop.listStockDetail">{{item.branchname}}</li>';                                                      
                                                            $('.popover-dismiss').popover({
                                                                trigger: 'hover',
                                                                html: true,
                                                                content: function () { return $('.StockDetail').html(); }
                                                            });
                                                          
                                                    </script>
                                                    <ul class="StockDetail panel-collapse collapse" id="StockDetail{{$index}}" style="height:0px;" aria-expanded="false">
                                                        <li ng-repeat="item in itemop.listStockDetail" style="list-style:none;"><span>CN. {{item.branchname}}</span>   <span style="float:right;margin-left:5px;"><strong>{{item.quantity|currency:'':0}}</strong></span></li>
                                                    </ul>
                                                    <!--<ul class="StockDetail panel-collapse collapse" id="StockDetail" style="height:0px;" aria-expanded="false">
                                                        <li ng-repeat="item in itemop.listStockDetail" style="list-style:none;"><span>CN. {{item.branchname}}</span>   <span style="float:right;margin-left:5px;"><strong>{{item.quantity}}</strong></span></li>
                                                    </ul>
                                                    <a tabindex="0" class="popover-dismiss" role="button" data-toggle="popover" data-trigger="hover" title="Tồn kho theo chi nhánh">{{itemop.ClosingQuantity|currency:'':0}}</a>-->
                                                    <a style="border:none;background-color:#edfeff; cursor:pointer;" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordions" data-target="#StockDetail{{$index}}" aria-expanded="false">
                                                    {{itemop.ClosingQuantity|currency:'':0}}
                                                    </a>
                                               
                                                </td>


                                                <td>
                                                    <a class="btn btn-default" ng-click="deleteItems(itemop.ID,itemop.ItemID)" style="float: right; width: 35px; height: 30px;margin-left:5px"><i class="fa fa-trash-o"></i></a>

                                                    <a ui-sref="itemOption_edit({id:itemop.ID})" class="btn btn-default" style="float:inherit; width: 35px; height: 30px; float: right; margin-left: 5px"><i class="fa fa-pencil-square"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

