<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
           <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            <a href="javascript:void(0)">Cài đặt</a>
        </li>
        <li class="active">Chính sách giá</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            Thêm chính sách giá
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
       <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12" style="width:100%">
                    <div class="widget">
                        <div class="widget-header bordered-bottom bordered-lightred">
                            <span class="widget-caption">Thông tin chính sách giá</span>
                        </div>
                        <div class="widget-body">
                            <div id="horizontal-form">
                                <form class="form-horizontal" role="form" novalidate name="frmAddPricePolicy" ng-submit="AddPricePolicy()">

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Mã chính sách</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="PricePolicyCode" ng-model="pricePolicy.PricePolicyCode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Tên chính sách</label>
                                        <div class="col-sm-10">
                                            <input class="form-control" name="PricePolicyName" ng-model="pricePolicy.PricePolicyName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label no-padding-right">Mô tả</label>
                                        <div class="col-sm-10">
                                            <textarea type="text" class="form-control" rows="3" name="Description" ng-model="pricePolicy.Description"></textarea>
                                        </div>
                                    </div>
                     

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input class="checkbox-slider slider-icon colored-palegreen" name="Status" type="checkbox" ng-model="pricePolicy.Status">

                                                    <span class="text">  Kích hoạt</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-blue" style="border-radius:5px;"><i class="glyphicon glyphicon-ok"></i>Lưu</button>
                                            <a ui-sref="pageSetting" class="btn btn-default" style="border-radius:5px; color:darkkhaki;"><i class="glyphicon glyphicon-remove"></i>Hủy</a>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

