################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G9 TIKTAK/.vs/G9TIKTAK/v15/Server/sqlite3/db.lock
