<style>
    .onoffswitch {
        position: relative;
        width: 59px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        display: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 10px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 21px;
            padding: 0;
            line-height: 21px;
            font-size: 12px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "Đ";
            padding-left: 17px;
            background-color: #1CC7A5;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "%";
            padding-right: 17px;
            background-color: #F7F2F2;
            color: #635F5F;
            text-align: right;
        }

    .onoffswitch-switch {
        display: block;
        width: 16px;
        margin: 2.5px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 34px;
        border: 2px solid #999999;
        border-radius: 10px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>
<style>
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tg-list {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .tg-list-item {
        margin: 0 2em;
    }

    .tgl {
        display: none;
    }

        .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

            .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
                background: none;
            }

            .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
                background: none;
            }

            .tgl + .tgl-btn {
                outline: 0;
                display: block;
                width: 4em;
                height: 1.5em;
                position: relative;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

                .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
                    position: relative;
                    display: block;
                    content: "";
                    width: 50%;
                    height: 100%;
                }

                .tgl + .tgl-btn:after {
                    left: 0;
                }

                .tgl + .tgl-btn:before {
                    display: none;
                }

            .tgl:checked + .tgl-btn:after {
                left: 50%;
            }

    .tgl-light + .tgl-btn {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

        .tgl-light + .tgl-btn:after {
            border-radius: 50%;
            background: #fff;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
        }

    .tgl-light:checked + .tgl-btn {
        background: #9FD6AE;
    }

    .tgl-ios + .tgl-btn {
        background: #fbfbfb;
        border-radius: 2em;
        padding: 2px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        border: 1px solid #e8eae9;
    }

        .tgl-ios + .tgl-btn:after {
            border-radius: 2em;
            background: #fbfbfb;
            -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
            transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
            -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
        }

        .tgl-ios + .tgl-btn:hover:after {
            will-change: padding;
        }

        .tgl-ios + .tgl-btn:active {
            -webkit-box-shadow: inset 0 0 0 2em #e8eae9;
            box-shadow: inset 0 0 0 2em #e8eae9;
        }

            .tgl-ios + .tgl-btn:active:after {
                padding-right: .8em;
            }

    .tgl-ios:checked + .tgl-btn {
        background: #86d993;
    }

        .tgl-ios:checked + .tgl-btn:active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }

            .tgl-ios:checked + .tgl-btn:active:after {
                margin-left: -.8em;
            }

    .tgl-skewed + .tgl-btn {
        overflow: hidden;
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        font-family: sans-serif;
        background: #888;
    }

        .tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
            -webkit-transform: skew(10deg);
            transform: skew(10deg);
            display: inline-block;
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        .tgl-skewed + .tgl-btn:after {
            left: 100%;
            content: attr(data-tg-on);
        }

        .tgl-skewed + .tgl-btn:before {
            left: 0;
            content: attr(data-tg-off);
        }

        .tgl-skewed + .tgl-btn:active {
            background: #888;
        }

            .tgl-skewed + .tgl-btn:active:before {
                left: -10%;
            }

    .tgl-skewed:checked + .tgl-btn {
        background: #86d993;
    }

        .tgl-skewed:checked + .tgl-btn:before {
            left: -100%;
        }

        .tgl-skewed:checked + .tgl-btn:after {
            left: 0;
        }

        .tgl-skewed:checked + .tgl-btn:active:after {
            left: 10%;
        }

    .tgl-flat + .tgl-btn {
        padding: 2px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        background: #fff;
        border: 4px solid #f2f2f2;
        border-radius: 2em;
    }

        .tgl-flat + .tgl-btn:after {
            -webkit-transition: all .2s ease;
            transition: all .2s ease;
            background: #f2f2f2;
            content: "";
            border-radius: 1em;
        }

    .tgl-flat:checked + .tgl-btn {
        border: 4px solid #7FC6A6;
    }

        .tgl-flat:checked + .tgl-btn:after {
            left: 50%;
            background: #7FC6A6;
        }

    .tgl-flip + .tgl-btn {
        padding: 2px;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        font-family: sans-serif;
        -webkit-perspective: 100px;
        perspective: 100px;
    }

        .tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
            display: inline-block;
            -webkit-transition: all .4s ease;
            transition: all .4s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            border-radius: 4px;
        }

        .tgl-flip + .tgl-btn:after {
            content: attr(data-tg-on);
            background: #02C66F;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }

        .tgl-flip + .tgl-btn:before {
            background: #03A9F4;
            content: attr(data-tg-off);
        }

        .tgl-flip + .tgl-btn:active:before {
            -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
        }

    .tgl-flip:checked + .tgl-btn:before {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .tgl-flip:checked + .tgl-btn:after {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        left: 0;
        background: #7FC6A6;
    }

    .tgl-flip:checked + .tgl-btn:active:after {
        -webkit-transform: rotateY(20deg);
        transform: rotateY(20deg);
    }
</style>
<style>
    input[type=checkbox].checkbox-slider ~ .text:before {
        font-family: 'Open Sans', 'Segoe UI';
        content: " ";
        background-color: #fff0 !important;
        color: #9990 !important;
        font-weight: 300;
        font-size: 10px;
        line-height: 18px;
        height: 20px;
        overflow: hidden;
        border-radius: 50rem;
        border: 1px solid #ccc0 !important;
        text-align: left;
        float: left;
        padding: 0;
        width: 52px;
        text-indent: -21px;
        margin-right: 0;
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
    }
    input[type=checkbox].checkbox-slider.colored-blue.toggle ~ .text:after {
        background-color: #5db2ff00 !important;
    }
    input[type=checkbox].checkbox-slider.colored-blue:checked ~ .text:after {
        background-color: #5db2ff;
        border-color: #fff0 !important;
    }
</style>
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            <a href="javascript:void(0)">Khuyến mại</a>
        </li>
        <li class="active">Thêm mới vào danh sách</li>
    </ul>
</div>
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            Thêm mơi
        </h1>
    </div>
    <div class="header-buttons">
        <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
</div>
<form role="form" novalidate name="frmAddSalesPromotion">
    <div class="page-body">
        <div class="row">
            <div class="col-md-9">
                <div class="widget-header ">
                    <span class="widget-caption">Thêm mới khuyến mại</span>
                    <div class="widget-buttons">
                        <a href="javascript:void(0)" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="javascript:void(0)" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="javascript:void(0)" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Tên chương trình <span style="color:red">*</span></label>
                                <input type="text" class="form-control" style="width:100%" ng-model="listSalesPromotion.PromotionName" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mã chương trình <span style="color:red">*</span></label>
                                <input type="text" class="form-control" style="width:100%" ng-model="code" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">số lương áp dụng <span style="color:red">*</span></label>
                                <input type="number" style="width:100%" class="form-control" ng-model="listSalesPromotion.ApplyQuantity" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Mô tả</label>
                                <textarea class="form-control" rows="6" style="width:100%" id="form-field-8" placeholder="Mô tả" ng-model="listSalesPromotion.Description"></textarea>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="width:100%;margin-left:0px;margin-right:0px">
                        <div class="table-responsive">
                            <table class="table table-hover" style="width:100%">
                                <thead class="bordered-darkorange bg-themeprimary" style="cursor:pointer">
                                    <tr>
                                        <th>
                                            Giá từ <span style="color:red">*</span>
                                        </th>

                                        <th>
                                            Đến <span style="color:red">*</span>
                                        </th>

                                        <th>
                                            Chiết khấu <span style="color:red">*</span>
                                        </th>
                                        <th>
                                            Tùy chọn
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="ng-scope" ng-repeat="item in listItemPromotion">
                                        <th>
                                            <input type="text" value="0" ng-change="Cover(item.stt)" style=" text-align: right; padding-right: 10px;" ng-model="item.ConditionsMin" required>
                                        </th>
                                        <th>
                                            <input type="text" style=" text-align: right; padding-right: 10px;" value="0" ng-change="Cover(item.stt)" ng-model="item.ConditionsMax" required>
                                        </th>
                                        <th style="display:table-cell;display:inline-flex;">
                                            <input type="text" value="0" ng-model="item.PromotionValue" ng-change="Cover(item.stt)" style="text-align: left;padding-left: 14px;padding-right: 10px;height: 24px;margin-top: 10px;width: 140px;" class="ng-pristine ng-valid ng-empty ng-touched">
                                            <div class="checkbox" style="margin-left: -56px;margin-top: 16px;display: table-cell;">
                                                <label style="z-index: 0;">
                                                    <input class="checkbox-slider toggle colored-blue ng-valid ng-dirty ng-valid-parse ng-touched ng-empty ng-pristine ng-untouched" style=" width: 55px; height: 25px; left: 0;" type="checkbox" name="Status" data-ng-model="item.VoucherType">
                                                    <span class="text"></span>
                                                </label>
                                                <span style="z-index:  1;">
                                                    <input class="tgl tgl-flip ng-pristine ng-untouched ng-valid ng-empty" id="cb5" type="checkbox" name="Status" data-ng-model="item.VoucherType">
                                                    <label class="tgl-btn" data-tg-off="Đ" data-tg-on="%" for="cb5" style="margin-top: -33px;"></label>
                                                </span>
                                            </div>
                                        </th>
                                       
                                        <td>
                                            <button ng-click="deleteItems(item.stt)" class="btn btn-default" style="float: right; width: 35px; height: 30px;margin-left:5px"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-default purple" href="javascript:void(0);" style="margin-bottom:10px" ng-click="addrow()"><i class="fa fa-plus"></i> Thêm điều kiện</a>
                        </div>
                    </div>
                    <div class="buttons-preview" style="background:#dddcdc">
                        <a class="btn btn-success" href="javascript:void(0);" ng-click="addSalesPromotion(0)" style="margin-bottom: 6px; margin-top: 6px; margin-left: 6px;">Lưu Nháp<i class="fa fa-check right"></i></a>
                        <a class="btn btn-success" href="javascript:void(0);" ng-click="addSalesPromotion(1)" style="margin-bottom: 6px; margin-top: 6px; margin-left: 6px;">Lưu / kích hoạt<i class="fa fa-check right"></i></a>
                        <a onclick="goBack()" class="btn btn-info" href="javascript:void(0);" style="margin-bottom: 6px; margin-top: 6px; margin-left: 6px;">Thoát<i class="fa fa-warning right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="widget-header ">
                    <span class="widget-caption">Diều kiện khuyến mại</span>
                    <div class="widget-buttons">
                        <a href="javascript:void(0)" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="javascript:void(0)" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="javascript:void(0)" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-12"><b>thời Gian áp dụng <span style="color:red">*</span></b></div>
                        <div class="col-md-12">
                            <label class="control-label">Từ ngày <span style="color:red">*</span></label>
                            <input style="width:100%" type="date" class="form-control" id="CreateDate" ng-model="listSalesPromotion.CreateDate" required>
                        </div>
                        <div class="col-md-12">
                            <label class="control-label">Đến ngày </label>
                            <input style="width:100%" type="date" class="form-control" ng-model="listSalesPromotion.Expirydate">
                        </div>
                        <br />
                        <div class="col-md-12" style="margin-top:5px">
                            <label class="control-label">Bỏ kết thúc </label>
                            <label>
                                <input class="checkbox-slider toggle colored-palegreen" type="checkbox">
                                <span class="text"></span>
                            </label>
                        </div>
                        <hr class="wide">
                        <div class="col-md-12"><b>cữa hàng áp dụng</b></div>

                        <div class="col-md-12">
                            <label>
                                <input type="checkbox" class="colored-success" checked="checked">
                                <span class="text">Chọn toàn bộ cửa hàng</span>
                            </label>
                        </div>
                        <div class="col-md-12">
                            <p>Chọn chi nhánh</p>
                        </div>
                        <div class="col-md-12">
                            <select style="width:100%" id="e1" class="form-control">
                                <option value="AL">
                                    Chi nhánh mặc định
                                </option>
                                <option value="AK">
                                    chi nhánh khác
                                </option>
                            </select>
                        </div>
                        <hr class="wide">
                        <div class="col-md-12"><b>Đối tượng áp dụng</b></div>
                        <div class="col-md-12">
                            <label>
                                <input type="checkbox" class="colored-success" checked="checked">
                                <span class="text">Chọn toàn bộ khách hàng</span>
                            </label>
                        </div>
                        <div class="col-md-12"><p>Chọn điều kiện </p></div>
                        <div class="col-md-12">
                            <select style="width:100%" id="e1" class="form-control">
                                <option value="AL">
                                    Nhân viên
                                </option>
                                <option value="AK">
                                    Nhân viên
                                </option>
                                <option value="AK">
                                    Nhóm khách hàng
                                </option>
                                <option value="AK">
                                    Giới tính
                                </option>
                                <option value="AK">
                                    Ngày / tháng sinh
                                </option>
                                <option value="AK">
                                    Khoảng ngày sinh
                                </option>
                                <option value="AK">
                                    tags
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
