<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../../../Assets/admin/css/unavailable-domain.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="toantrang" style="position: fixed;width: 100%;">
		<div class="container">
			<div>
				<img height="auto" width="100%" style="max-width: 200px;" src="../../../Assets/admin/img/logotiktac.png">
				<h1>CỬA HÀNG NÀY KHÔNG TỒN TẠI</h1>
				<a class="btn-registration" href="http://dangky.tiktac.vn/Account/Register" >Dùng thử miễn phí</a>
				
				
			</div>
			
			<div class="footer">
			 <span style="font-weight:700">Công ty Cổ phần Đầu tư Thương mại G9 Việt Nam</span>
				<div style="padding:10px 0px;color: #2dc3e8;font-weight:700">Hỗ trợ Hotline:  | Email: support@tiktac.vn</div>
				<div style="font-size:13px;">Trụ sở: 14 Pháo Đài Láng, Đống Đa, Hà Nội</div>
				<div style="font-size:12px;">© Copyright 2017 - <a href="http://g9vietnam.com.vn/">G9 Việt Nam</a></div>
				
			</div>
		</div>
	</div>
    


</body>
</html>