
<div class="page-breadcrumbs ng-scope">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            <a ui-sref="pageSetting" href="javascript:void(0)">Cài đặt</a>
        </li>
        <li>
            <a ui-sref="application_users" href="javascript:void(0)">Danh sách người dùng</a>
        </li>
        <li class="active">Thêm mới người dùng</li>
    </ul>
</div>
<div class="page-header position-relative ng-scope">
    <div class="header-title">
        <h1>
            Danh sách người dùng
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<div class="page-body ng-scope">
    <!-- Your Content Goes Here -->
    <div class="row">
        <div class="col-xs-12 col-md-6" style="width:100%">


            <div class="widget-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <!--<h3 class="box-title">{{account.FullName}}</h3>-->
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <form class="form-horizontal" role="form" novalidate name="frmAddAccount" ng-submit="addAccount()">
                                <div class="box-body">
                                    <div class="col-md-8">
                                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.name.$invalid && !frmAddAccount.name.$pristine }">
                                            <label class="col-sm-2 control-label">Họ tên người dùng</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="name" class="form-control"
                                                       required reqired-message="Họ tên bắt buộc." ng-model="account.FullName">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.userName.$invalid && !frmAddAccount.userName.$pristine }">
                                            <label class="col-sm-2 control-label">Tài khoản</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="userName" class="form-control"
                                                       required reqired-message="Tài khoản bắt buộc." ng-model="account.UserName">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.password.$invalid && !frmAddAccount.password.$pristine }">
                                            <label class="col-sm-2 control-label">Mật khẩu</label>
                                            <div class="col-sm-10">
                                                <input type="password" name="password" class="form-control"
                                                       required reqired-message="Mật khẩu bắt buộc." ng-model="account.Password">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-class="{ 'has-error' : frmAddAccount.email.$invalid && !frmAddAccount.email.$pristine }">
                                            <label class="col-sm-2 control-label">Email</label>
                                            <div class="col-sm-10">
                                                <input type="email" name="email" class="form-control"
                                                       required reqired-message="Email bắt buộc." ng-model="account.Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Điện thoại</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="password" class="form-control"
                                                       ng-model="account.PhoneNumber">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Ngày sinh</label>
                                            <div class="col-sm-10">
                                                <input type="date" name="birthDate" class="form-control" ng-model="account.BirthDay">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Chi Nhánh</label>
                                            <div class="col-sm-10">
                                                <select ng-model="account.BranchID" style="width: 60%;">
                                                    <option ng-repeat="item in branch" value="{{item.BranchID}}">{{item.BranchName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right" style="margin-top:9px;">Nhóm</label>
                                            <div class="col-sm-10">
                                                <div style="position:relative;width:60%;float:left;margin-right:10px" data-original-title="" title="">                                                
                                                    <!--Objects as model-->
                                                    <multiselect ng-model="account.Groups" options="groups" id-prop="ID" display-prop="Name">
                                                    </multiselect>                 
                                                </div>
                                            </div>
                                        </div>                 
                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <a ui-sref="application_users" class="btn btn-default">Hủy bỏ</a>
                                                <input type="submit" ng-disabled="frmAddAccount.$invalid" class="btn btn-primary" value="Lưu lại" />
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->
                            </form>
                        </div><!-- /.box -->
                    </div>
                </div>

                <div>
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length --></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>

