<div class="page-breadcrumbs ng-scope">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            Báo cáo
        </li>
        <li class="active">Báo cáo bán hàng</li>
    </ul>
</div>
<div class="page-header position-relative ng-scope">
    <div class="header-title">
        <h1>
            Báo cáo trả hàng
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<div class="page-body ng-scope">
    <div class="row">
        <div class="col-xs-12 col-md-6" style="width:100%">


            <div class="widget-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-3">
                            <label> Chi nhánh :</label>
                            <select class="form-control ng-pristine ng-valid ng-empty ng-touched ng-untouched" id="inputEmail1" ng-model="branchid" style="width: 100%;">
                                <option ng-repeat="branch in list_branch" value="{{branch.BranchID}}">{{branch.BranchName}}</option>
                            </select>
                            <!--<input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched ng-untouched" id="inputEmail1" ng-model="branchName" style="width: 100%;">-->
                        </div>
                        <div class="col-md-3">
                            <label> Từ ngày : </label>
                            <input type="date" class="form-control ng-pristine ng-valid ng-empty ng-touched ng-untouched" id="inputEmail2" ng-model="start_date" style="width: 100%;">

                        </div>
                        <div class="col-md-3">
                            <label> Đến ngày : </label>
                            <input type="date" class="form-control ng-pristine ng-valid ng-empty ng-touched ng-untouched" id="inputEmail3" ng-model="end_date" style="width: 100%;">
                        </div>
                        <div class="col-md-3">
                            <label></label>
                            <a class="btn btn-success" style="width:100%" ng-click="ViewReport()">Xem báo cáo</a>
                        </div>
                    </div><hr />
                    <div class="row" style="width:100%;margin-left:0px">
                        <div class="table-responsive">
                            <table class="table table-bordered tbl-report tbl-report--inventory-onhand border-th" cellspacing="0" cellpadding="0" style="width:100%">
                                <thead>
                                    <tr role="row" style="background: #2dc3e8 !important;color:white">
                                        <th>STT</th>
                                        <th>Đơn trả hàng</th>
                                        <th>Ngày ghi nhận</th>
                                        <th>Mã khách hàng</th>
                                        <th>Khách hàng</th>
                                        <th style="text-align:center">Số lượng hàng trả</th>
                                        <th style="text-align:center">Tiền hàng trả lại</th>
                                    </tr>
                                    <tr role="row" style="background: #2dc3e8 !important;color:white">
                                        <th>Tổng</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th style="text-align:center">0</th>                                      
                                        <th style="text-align:right">0 ₫</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="i in listReport| itemsPerPage:5">
                                        <td>{{i.stt}}</td>
                                        <td>{{i.VoucherNo}}</td>
                                        <td>{{i.VoucherDate|date:'dd/MM/yyyy'}}</td>
                                        <td>{{i.ObjectCode}}</td>
                                        <td>{{i.ObjectName}}</td>
                                        <td style="text-align:center">{{i.QuantityReturn|currency:"":0}}</td>
                                        <td style="text-align:right">{{i.TotalAmount|currency:"":0}} đ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div style="margin-left:  82.4%;margin-top:3px ">
                    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" class="ng-isolate-scope"><!-- ngIf: 1 < pages.length --></dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
</div>




