<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
           <a href="javascript:void(0)" ui-sref="home">Trang chủ</a>
        </li>
        <li>
            <a ui-sref="pageSetting">Cài đặt</a>
        </li>
        <li class="active">Chi Nhánh</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            Danh sách chi nhánh
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
       <a class="sidebar-toggler" onclick="addSize()" href="javascript:void(0)">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" onclick="reLoad()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" onclick="show()" href="javascript:void(0)">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- Page Body -->
<div class="page-body">
    <!-- Your Content Goes Here -->
    <div class="row">
        <div class="col-xs-12 col-md-6" style="width:100%">

            <div class="widget-header ">
                <span class="widget-caption">Danh sách chi nhánh</span>
                <div class="widget-buttons">
                    <a href="javascript:void(0)" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="javascript:void(0)" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <a href="javascript:void(0)" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="widget-body">
                <div class="form-group">
                    <span class="input-icon inverted" style="width:35%">
                        <input type="text" style="height:32px;" class="form-control input-sm" placeholder="Nhập tên chi nhánh ..." ng-model="searchText" ng-keyup="search()">
                        <i class="glyphicon glyphicon-search bg-blue"></i>
                    </span>

                    <a class="btn btn-default purple" ui-sref="branch_add" style="border-radius: 5px; float: right; color: #0d55a1 !important"><i class="fa fa-plus"></i> Thêm mới </a>
                    <!--<a class="btn btn-default purple" ui-sref="vendor_add" style="border-radius:5px;margin-right:10px; float:right;color:#5db2ff !important"><i class="glyphicon glyphicon glyphicon-export"></i> Xuất file </a>
                    <a class="btn btn-default purple" ui-sref="vendor_add" style="border-radius:5px;margin-right:10px; float:right;color:#5db2ff !important"><i class="glyphicon glyphicon glyphicon-import"></i> Nhập file </a>-->
                </div>

                <table class="table table-hover">
                    <thead class="bordered-darkorange">
                        <tr>
                            <th>
                                Mã chi nhánh
                            </th>
                            <th>
                                Tên chi nhánh
                            </th>
                            <th>
                                Địa chỉ
                            </th>
                            <th>
                                SĐT
                            </th>
                            <th>
                                Trạng thái
                            </th>
                            <th>
                                Tùy chọn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in filterList">
                            <td>
                                {{item.BranchCode}}
                            </td>
                            <td>
                                {{item.BranchName}}
                            </td>
                            <td>
                                {{item.Address}}
                            </td>
                            <td>
                                {{item.TelephoneNumber}}
                            </td>
                            <td>
                                <i class="{{item.cs}}" data-original-title="" title=""></i>
                                {{item.tt}}
                            </td>
                            <td>
                                <button ui-sref="branch_edit({id:item.BranchID})" class="btn btn-default" style="border:0;color:blue;"><i class="fa fa-pencil-square"></i></button>
                                <button ng-click="deleteBranch(item.BranchID)" class="btn btn-default" style="border:0;color:red;"><i class="fa fa-trash-o"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- /Page Body -->
